@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header,
footer {
  background-color: #f0f0f0;
}

main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
